*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(45deg, #2193b0, #6dd5ed);
}

a {
    text-decoration: none;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    min-height: 80vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    background: linear-gradient(45deg, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    backdrop-filter: blur(30px);
}

.form-container h3 {
    font-size: 2em;
    letter-spacing: 1px;
    color: #424040;
}

.form-container form {
    position: relative;
}

.form-input {
    position: relative;
    bottom: 20px;
    right: 0;
}

.form-input input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #2193b0;
    width: 100%;
    padding: 25px 10px 3px 10px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #424040;
}

.form-input label {
    position: absolute;
    bottom: 60px;
    left: 0;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all 0.6s ease;
    pointer-events: none;
    color: #424040;
}

.form-input .show-pw {
    position: absolute;
    bottom: 50px;
    right: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;
}

.form-input .show-pw:active {
    background: #2d76a7;
}

.form-input input:focus + label,
.form-input input:valid + label {
    transform: translateY(-25px);
    font-size: 0.8em;
    left: 20px;
}

.forget {
    color: #2d76a7;
    margin-bottom: 20px;
    display: inline-block;
}

.footer {
    display: flex;
    align-items: center;
}

.footer button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    background: transparent;
    border: 1px solid #2193b0;
    margin-right: 10px;
    transition: all 0.6s ease;
}

.footer button:hover {
    background: #2193b0;
    color: #fff;
}

.footer span {
    color: #424040;
}

.footer span a {
    color: #2d76a7;
}